/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: rgba(0, 0, 0, 0.945);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

header {
    height: 500px;
    background: url(images/Facebook-Cover-1640680-VR_04.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header h1 {
    padding-top: 100px;
    font-weight: bolder;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.player-img img {
    height: 300px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.player {
    border: 2px solid rgba(128, 128, 128, 0.445);
    border-radius: 10px;
    padding: 12px;
}

.budget,
.selected {
    background-color: black;
}

.calculation {
    display: flex;
    flex-direction: column;
}

.selected {
    height: 300px;
}

input {
    background-color: black;
    outline: none;
    border: 1px solid white;
    color: white;
    font-weight: 500;
    padding: 6px;
}

.btn-bg {
    background-color: rgb(13, 110, 253);
}